[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
dlt = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
mysqlclient = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
mypy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9" 